.footer {
	border-top: 1px solid #E5E5E5;
	margin-top: 45px;
	padding: 35px 0 36px;
}

.node-highlight {
	background-color: #ffff00;
}

.dist-motorway {
	background-color: #FF0DFF;
}
.dist-trunk {
	background-color: #E80C7A;
}
.dist-primary {
	background-color: #FF0000;
}
.dist-secondary {
	background-color: #FF530D;
}
.dist-tertiary {
	background-color: #E82B0C;
}

.dist-residential {
	background-color: #00BFFF;
}
.dist-living_street {
	background-color: #00B2EE;
}
.dist-service {
	background-color: #009ACD;
}
.dist-unclassified {
	background-color: #1C86EE;
}
.dist-bus_guideway {
	background-color: #1874CD;
}



.dist-track-g1 {
	background-color: #FFA54F;
}
.dist-track-g2 {
	background-color: #EE9A49;
}
.dist-track-g3 {
	background-color: #CD853F;
}
.dist-track-g4 {
	background-color: #EE7621;
}
.dist-track-g5 {
	background-color: #CD661D;
}
.dist-track-unknown {
	background-color: #8B2323;
}


.dist-pedestrian {
	background-color: #7FFF00;
}
.dist-path {
	background-color: #76EE00;
}
.dist-footway {
	background-color: #66CD00;
}
.dist-cycleway {
	background-color: #00FF7F;
}
.dist-steps {
	background-color: #00EE76;
}
.dist-bridleway {
	background-color: #00CD66;
}

.dist-paved {
	background-color: red;
}
.dist-asphalt {
	background-color: black;
}
.dist-paving_stones {
	background-color: gray;
}
.dist-concrete {
	background-color: lightgray;
}
.dist-wood {
	background-color: yellow;
}

.dist-unpaved {
	background-color: red;
	background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
}
.dist-compacted {
	background-color: darkgray;
	background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
}
.dist-gravel {
	background-color: gray;
	background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
	}
.dist-grass_paver {
	background-color: lightgray;
	background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
	}
.dist-grass {
	background-color: green;
	background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
	}
.dist-ground,
.dist-earth {
	background-color: brown;
	background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
	}
.dist-dirt,
.dist-mud {
	background-color: saddlebrown;
	background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
	}
}
.dist-sand,
.dist-salt {
	background-color: wheat;
	background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
	}

.dist-untagged {
	background-color: blue;
}

.dist-unknown {
	background-color: #DDD;
}